body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 10px;
    font-size: 20px;
}

button {
    padding: 20px;
    background-color: rgb(72, 103, 242);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(72, 103, 242);
}

ul {
    margin-top: 20px;
    padding-left: 0;
    font-size: 1.5em;
}

li {
    list-style-type: none;
    margin-top: 5px;

}

a {
    color: rgb(72, 103, 242);
}

#delete-btn {
    background-color: #fff;
    color: rgb(72, 103, 242);

}